.img-card-resposive {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-history-responsive{
    max-height: 250px;
    overflow-x: auto;
}

.card-body-without-model{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}