<div class="row justify-content-center">
  <div class="col-md-12 mb-3">
    <div class="text-bg-dark card-background-img-01 border rounded-3 p-3">
      <h1 class="h2 fw-bold">Game</h1>
      <p>
        Explore a world of strategy and magic in Hero Academy, an exciting card game developed to challenge your
        general knowledge and tactical skills. Embark on epic battles where each hero represents unique powers.
      </p>
      <button type="button" class="btn btn-dark btn fw-medium" routerLink="/game">Play Game</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 mb-3">
    <div class="h-100 text-bg-dark card-background-img-02 rounded-3 p-3">
      <h2>Visit Our Project on GitHub</h2>
      <p>
        Explore the inner workings of Hero Academy! For an in-depth look at our project, visit our GitHub repository to
        track development progress. We welcome suggestions and contributions to help us grow!
      </p>
      <button type="button" class="btn btn-outline-light fw-medium">
        <i class="bi bi-github"></i> Visit Repository
      </button>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="bg-body-tertiary card-background-img-03 border rounded-3 p-3">
      <h2 class="text-white">Contribute to Our Development!</h2>
      <p class="text-white">
        If you believe in Hero Academy's potential and want to support our development, there are various ways to
        contribute financially. Your assistance can accelerate the introduction of new features and enhancements.
      </p>
      <button type="button" class="btn btn-dark btn fw-medium">
        <i class="bi bi-coin"></i> Contribute
      </button>
    </div>
  </div>
</div>